[Desktop Entry]
Type=Application
Name=open-mpv
GenericName=Image Viewer
Comment=Minimalist photo and video viewer
Exec=@BINDIR@/open-mpv %f
Icon=dev.thakur.OpenMpv
Terminal=false
Categories=Graphics;Viewer;GTK;
MimeType=image/jpeg;image/png;image/webp;image/avif;image/bmp;image/gif;image/svg+xml;image/svg+xml-compressed;video/mp4;video/x-matroska;video/webm;video/quicktime;video/vnd.avi;video/x-msvideo;
SingleMainWindow=true
StartupNotify=true
